.top {
  height: 35vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url(../../images/bg-mobile-dark.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .top {
    background-image: url(../../images/bg-desktop-dark.jpg);
  }
}

.bottom {
  height: 65vh;
  width: 100%;
  position: fixed;
  top: 35%;
  z-index: -1;
  background-color: var(--very-dark-blue);
}
