body.light-mode .top {
  background-image: url(../../images/bg-mobile-light.jpg);
}

@media (min-width: 768px) {
  .top {
    background-image: url(../../images/bg-desktop-light.jpg);
  }
}

body.light-mode .App .bottom {
  background-color: var(--very-light-grayish-blue);
}

body.light-mode .input-area .input {
  background-color: var(--very-light-gray);
  color: var(--vary-dark-blue);
}

body.light-mode .list {
  background-color: var(--very-light-gray);
  color: var(--very-dark-desaturated-blue);
}

body.light-mode .list .todo::before {
  background-color: var(--very-light-grayish-blue);
}

body.light-mode .todo-card.finished li {
  color: var(--light-grayish-blue);
}

body.light-mode .list .footer {
  color: var(--dark-grayish-blue);
}

body.light-mode .list .footer .middle p:hover,
body.light-mode .list .footer .right:hover {
  color: var(--very-dark-blue);
}

body.light-mode .middle-mobile {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}
