.list {
  background-color: var(--very-dark-desaturated-blue);
  margin-top: 20px;
  border-radius: 6px;
  color: var(--light-grayish-blue-dark);
}

.list ul {
  list-style: none;
  padding: 0;
}

.list .todo {
  padding: 20px;
  position: relative;
  padding-left: 50px;
}

.todo-card {
  position: relative;
}

.todo-card.finished li {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

.list button {
  position: absolute;
  top: 50%;
  left: 7%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-grayish-blue-dark);
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 5;
}

.list .button:hover {
  border: 1px solid var(--check-background);
  background: var(--check-background);
  cursor: pointer;
}

.list .button svg {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.list .button.finished {
  background: var(--check-background);
}

@media (min-width: 768px) {
  .todo-card button {
    left: 5%;
  }
}

.list .todo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--very-dark-grayish-blue);
}

.todo-card .cross {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
}

.list .footer {
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .list .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.list .footer p {
  margin: 0;
}

.list .footer .left {
  color: var(--dark-grayish-blue);
}

.list .footer .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.list .footer .middle p {
  cursor: pointer;
  padding: 0 5px;
}

.list .footer .middle p:hover {
  color: var(--very-light-gray);
}

.list .footer .middle .active {
  color: var(--bright-blue);
}

.list .footer .right {
  cursor: pointer;
}

.list .footer .right:hover {
  cursor: pointer;
  color: var(--very-light-gray);
}
